//bg-colors
$bg-color:  #D7D7D7;
$bg-block-color:  #FFFFFF;
$bg-filter-block-color: #F5F5F5;
$bg-primary-button-color: #55BB06;
$bg-blue-button-color: #EAF0FA;
$bg-orange-color: #FFF0CD;
$bg-light-gray-color: #B9B9B9;
$bg-dashed_border-color: #A9B3E3;
$bg-secondary-button-color: #EAF0FA;
$bg-mobile-menu: #eaf0fa;
$bg-mobile-btn-darker-color: #d7dce4;
$bg-scroll_color: #E1E1E1;

//text-colors
$text-black: #202123;
$text-white: #FFFFFF;
$text-blue: #5763B3;
$text-orange: #FF9900;
$text-red: rgba(255, 55, 36, 0.8);
$text-light-gray: #B9B9B9;
$text-dark-gray: #707276;
$text-link: #7284E4;

